global
  log stdout format raw local0

defaults
  log global
  mode http
  option httplog
  option forwardfor
  timeout connect 2s
  timeout queue 5s
  timeout client 30s
  timeout server 30s
  timeout http-request 10s
  timeout http-keep-alive 10s
  timeout tunnel 1h

frontend lls_https_frontend
  bind *:6501 ssl crt /usr/local/etc/haproxy/certs/lls.pem

  http-request set-header X-Forwarded-Proto https
  http-request set-header X-Forwarded-Port 6501
  http-request set-header X-Forwarded-Host %[req.hdr(Host)]
  http-request set-header X-Real-IP %[src]

  default_backend lls_backend

resolvers docker
  parse-resolv-conf
  hold valid 10s

backend lls_backend
  option httpchk GET /health/ready
  http-check expect status 200
  default-server init-addr libc,none resolvers docker inter 2s fall 3 rise 2 check
  server lls zentitle-lls:6501 ssl verify none
